<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
    <Properties>
        <Property name="basePath">logs</Property>
    </Properties>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p %d{yyyy-MM-dd HH:mm:ss} - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="Info">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>